---
image: $CI_REGISTRY_IMAGE/devlab-build:latest

.tags:
  tags:
    - docker

stages:
  - docker-images
  - test
  - build
  - upload
  - deploy

.kaniko-build:
  stage: docker-images
  only:
    refs:
      - branches
      - merge_requests
  tags:
    - docker
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - if [ "$CI_COMMIT_REF_SLUG" == 'master' ]; then KANIKO_ARGS="--destination $CI_REGISTRY_IMAGE/${DOCKER_IMAGE_NAME}:latest $KANIKO_ARGS"; fi
    - echo "${KANIKO_ARGS}"
    - |
        echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" \
        > /kaniko/.docker/config.json
    - |
        echo "-----BEGIN CERTIFICATE-----
        MIIFJTCCAw2gAwIBAgIUMI0Z8YSLeRq8pZks40O3Dq2m8TIwDQYJKoZIhvcNAQEL
        BQAwGjEYMBYGA1UEAxMPRXZlcm55bSBSb290IENBMB4XDTE3MTAxMTIwMTAxMFoX
        DTQ3MTAwNDIwMTAzOVowGjEYMBYGA1UEAxMPRXZlcm55bSBSb290IENBMIICIjAN
        BgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEA1kjmtmMfLJfsqUNaco44N3brW8Vu
        b02lAeEwbxc65mwfAG8kAjW7kYhI/fDXFOYXUvoa3Dg7bFeEatdIjHOahZssGM27
        HsQZ4PfRhPE6HtXFszmDwXWuEekVxoyueTqL7ExnNZ+BRTXvPfm5nw1E7L3o3xHF
        GSOtWFCyHfKd1LwMKzAVSjxlawEZnfk3WK3NxrC4UYMlQaDme7m3rCMfO+KBQk69
        bFXsgn6/EihVeQ8T1+T8gogofzh5b4Z7kS6e6GMqotbGFg4agejkRVsIglSpaQLk
        2Ztn/MP1dwgyvO4uvplB4sxZSC2FhhovlwPETmbKsnpj020+m0+YU4FPKwjroMiH
        tP//YqiNKsLxtjhffW7XFToyy0qQttW5RMWnyx4MXs9Hwcy29gY1izeGMSzz3zV5
        HG8JSJikuYbYiGJRVS0egovkVjja6lrVk0Q4Hm5pbw4l7LYCd6bkDLMsRaS1QnWs
        9iz6XEf5SpIu1FuqHmlhj1ABehUyGIg5oC6egML3q78yk0mCW523qMFa9Kjnk871
        mmXSCn3p/3DCrwWYfpcibxtVaKyJj6ISYIcl+Zu65Uzmhf+nj56x3gkNgEOva7JS
        Xge+FxPxsaXBGyeSH09nNIoNmh/UucuzpNY2UyCpJuqXHtR5jaACSdsqNxG8tcDg
        K9v98D/DFiShghECAwEAAaNjMGEwDgYDVR0PAQH/BAQDAgEGMA8GA1UdEwEB/wQF
        MAMBAf8wHQYDVR0OBBYEFOrH4oUpB94gNDNqdGG92kdVZ3qkMB8GA1UdIwQYMBaA
        FOrH4oUpB94gNDNqdGG92kdVZ3qkMA0GCSqGSIb3DQEBCwUAA4ICAQCwjN3ggZ98
        BXT39fKkCX3FHb0++aFcIyMKWrcZIpYrl3GoZsNKZK4QNQ+uJOP8xmqgyrCoMfch
        VIGPQ0RDN/IzqCLhc/U3pDmk2hXa3xTxD3gpCQZ6Bz04KlcLfZd5jzbI741bVDyF
        a1n46bEyuqV4SsNJWI/FGokJCNcZH66njBQBaQAccZ7xB9vWU9yjIYtGQDDvSm6J
        SC2knrQri0vv4QLUSc1LS6AlWWSQxcCpcdO+OzIFGsf5bVmYN6J4R3COY5NyQ+yn
        pOSN2NOh5h3ZrYAxm3i4Il0orVLveVcTVDGeAgZUII4YLJi/01RHGqit3aCuApSh
        bzFTZ5FldFss+JX9iAhqpFDbHLgae0F3QmYEnGilt/PzO4j23QJo3FZKeruQLH7P
        L9aOgN6S2+Akbbm9YTc59yzU5TZMxANwTdaYFWFqk/8nKgZiBR1l8jnWTlWnm86A
        qVssH3DLKwiYrWSOHRzGuN5BmPXxxtKQJlwAXt0wJE3puUkaJSRo7CJQ3QNMoKDe
        OjzXc9WvkFIXr3Eui8UTiHB/WT7N4o8hmVN404akGfWE0YNwRVfWpjGdew6g0tZi
        lFnjUUk49av67um43JHcinT5NFPuleZzkjaL/D8ueOrjXQDy05rwVdgmw9pXog4B
        Tw6APXtEnjfD2H8HOpOX/7ef4gWK0O1Q7A==
        -----END CERTIFICATE-----" >> /kaniko/ssl/certs/ca-certificates.crt
    - |
        /kaniko/executor ${KANIKO_ARGS} --context $CI_PROJECT_DIR --dockerfile $CI_PROJECT_DIR/${DOCKERFILE_PATH} \
        --destination $CI_REGISTRY_IMAGE/${DOCKER_IMAGE_NAME}:${CI_COMMIT_REF_SLUG}

dockerimage_devlab_debpackage:
  extends: .kaniko-build
  variables:
    DOCKERFILE_PATH: 'ci/builder.Dockerfile'
    DOCKER_IMAGE_NAME: 'devlab-build'
  only:
    changes:
    - ci/builder.Dockerfile

syntax:
  stage: test
  extends: .tags
  script:
    - python -m py_compile devlab
    - python -m py_compile installer.py
    - pylint devlab
    - pylint -E devlab_bench
    - pylint installer.py

make_pkg:
  stage: build
  extends: .tags
  script:
    - ci/build.sh
  needs:
    - syntax
  artifacts:
    paths:
      - artifacts/*
    expire_in: 1 week

upload_release_asset:
  stage: upload
  extends: .tags
  variables:
    PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/devlab"
    VERSION: $CI_COMMIT_TAG
  needs:
    - make_pkg
  script:
    - |
      if [ "${CI_COMMIT_TAG:0:1}" == "v" ] ; then
        export VERSION=${CI_COMMIT_TAG:1}
      fi
    - |
      for asset in $(find artifacts/ -type f) ; do
        fname=$(basename $asset)
        curl --header "JOB-TOKEN: ${CI_JOB_TOKEN}" --upload-file $asset ${PACKAGE_REGISTRY_URL}/${VERSION}/${fname} || exit 1
        echo "Looking up package id"
        pkg_id=$(curl -sf ${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages | jq ".[] | select(.version==\"${VERSION}\") | select(.name==\"devlab\") | select(.package_type==\"generic\") | .id") || exit 1
        if [ -z "$pkg_id" ] ; then
          echo "Failed looking up package id"
          echo "$pkg_id"
          exit 1
        fi
        echo "Looking up file inside package"
        pkg_file_id=$(curl -sf "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/${pkg_id}/package_files" | jq ".[] | select(.file_name==\"${fname}\") | .id") || exit 1
        if [ -z "$pkg_file_id" ] ; then
          echo "Failed looking up package file id"
          echo "$pkg_file_id"
          exit 1
        fi
        echo "Generating the direct download link"
        direct_dl="${CI_PROJECT_URL}/-/package_files/${pkg_file_id}/download"
        echo "$fname|${direct_dl}" >> ./artifacts/assets.out
      done
  artifacts:
    paths:
      - artifacts/assets.out
  only:
    - tags@te/devlab
    - tags@evernym/utilities/devlab

create_github_release:
  stage: deploy
  extends: .tags
  environment:
    name: Github
    url: https://github.com/evernym/devlab/releases
  variables:
    GITHUB_OWNER: evernym
    GITHUB_REPO: devlab
  script:
    - ci/create_github_release.sh
  needs:
    - make_pkg
  only:
    - tags@te/devlab
    - tags@evernym/utilities/devlab
  when: on_success

create_gitlab_release:
  stage: deploy
  extends: .tags
  image: registry.gitlab.com/gitlab-org/release-cli:latest
  variables:
    PACKAGE_REGISTRY_URL: "${CI_API_V4_URL}/projects/${CI_PROJECT_ID}/packages/generic/devlab"
    VERSION: $CI_COMMIT_TAG
  script:
    - ci/create_gitlab_release.sh
  needs:
    - upload_release_asset
    - make_pkg
  only:
    - tags@te/devlab
    - tags@evernym/utilities/devlab
  when: on_success
